.example {
  padding: 25px 6.25% 0;
  background-color: #eaeaea;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 43px 3.9% 0;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding: 0;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.example__text {
  padding-bottom: 40px;
}

@media (min-width: $desktop-width) {
  .example__text {
    width: 436px;
    padding-top: 43px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;

  color: #000000;
  font-family: $font-special;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .example__title {
    margin-bottom: 64px;
    margin-bottom: 146px; //delete later

    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example__description {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .example__description {
    margin-top: auto;
    margin-bottom: 69px;
  }
}

