.page__header {
  flex-shrink: 0;
}

.page__header--index {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    padding-right: 110px;
    padding-left: 110px;
    transform: translateX(-50%);
  }
}

.page__main {
  flex-grow: 1;
}

.page__offers {
  padding: 0 6.25%;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .page__offers {
    padding: 0 3.9%;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page__offers {
    padding: 0;
    margin-top: 82px;
  }
}

.page__advantages {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .page__advantages {
    margin-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .page__advantages {
    margin-top: 71px;
  }
}

.page__example {
  margin-top: 49px;
}

@media (min-width: $tablet-width) {
  .page__example {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page__example {
    margin-top: 26px;
  }
}

.page__footer {
  flex-shrink: 0;
}
