.page__header {
  flex-shrink: 0;
}

.page__header--index {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    padding-right: 110px;
    padding-left: 110px;
    transform: translateX(-50%);
  }
}

.page__main {
  flex-grow: 1;
}

.page__offers {
  padding: 0 6.25%;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .page__offers {
    padding: 0 3.9%;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page__offers {
    padding: 0;
    margin-top: 82px;
  }
}

.page__advantages {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .page__advantages {
    margin-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .page__advantages {
    margin-top: 71px;
  }
}

.page__example {
  margin-top: 49px;
}

@media (min-width: $tablet-width) {
  .page__example {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page__example {
    margin-top: 26px;
  }
}

.page__footer {
  flex-shrink: 0;
}

@media (min-width: $tablet-width) {
  .page__catalog {
    margin: 0 3.9%;
  }
}

@media (min-width: $desktop-width) {
  .page__catalog {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.page__title {
  padding: 27px 6.25% 40px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  color: #000000;
  font-family: $font-special;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}

@media (min-width: $tablet-width) {
  .page__title {
    padding: 0;
    border: 0;
    margin-top: 39px;
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page__title {
    margin-top: 23px;
  }
}

.page__cards {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .page__cards {
    display: grid;
    margin-top: 82px;
    gap: 61px 8.47%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px) {
  .page__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $desktop-width) {
  .page__cards {
    margin-top: 84px;
    gap: 64px 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

