.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 0 15.23%;
  }
}

.promo__header {
  position: relative;
  padding: 27px 6.25% 164px;
  margin-bottom: 138px;
  background-image:
    url("@img/promo/promo-bg-mobile.jpg"),
    linear-gradient(to right, #64a83d, #62a63a);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image:
      url("@img/promo/promo-bg-mobile@2x.jpg"),
      linear-gradient(to right, #64a83d, #62a63a);
  }
}

@media (min-width: $tablet-width) {
  .promo__header {
    padding: 40px 0 49px;
    margin-bottom: 0;
    background-image: none;
  }
}

.promo__header::after {
  position: absolute;
  bottom: -135px;
  left: 50%;
  width: 280px;
  height: 270px;
  background-image: url("@img/promo/index-can-mobile.png");
  background-repeat: no-repeat;
  content: "";
  transform: translateX(-50%);

  @media (min-resolution: 2dppx) {
    background-image: url("@img/promo/index-can-mobile@2x.png");
    background-size: 100% auto;
  }
}

@media (min-width: $tablet-width) {
  .promo__header::after {
    content: none;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  color: #ffffff;
  font-family: $font-special;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__title {
    margin-bottom: 40px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.promo__slogan {
  margin: 0;
  color: #ffffff;
  font-family: $font-special;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.promo__button {
  width: 87.5%;
  max-width: 400px;
  align-self: center;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .promo__button {
    width: 244px;
    align-self: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 1;
  }
}
