html {
  min-height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: $mobile-width;
  min-height: 100%;
  margin: 0;
  color: $special-dark;
  font-family: $font-basic;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

// .page-wrapper {

// }

