/*** GLOBAL ***/
@import "./global/variables";
@import "./global/fonts";
@import "./global/mixins";
@import "./global/common";

/*** BLOCKS ***/
@import "./blocks/visually-hidden";
@import "./blocks/button";
@import "./blocks/menu";
@import "./blocks/logo";
@import "./blocks/header";
@import "./blocks/promo";
@import "./blocks/offers";
@import "./blocks/advantages";
@import "./blocks/example";
@import "./blocks/cells";
@import "./blocks/page";


.placeholder {
  height: 3000px;
  margin-top: 50px;
  background-color: darkcyan;
  font-size: 3em;
  line-height: 1.3;
}

// body > * {
//   max-width: $desktop-width;
//   margin: 0 auto;
// }
